.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;  
    border-bottom: 2px solid #4caf50;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    text-align: center;
    gap: 80px
  }
  
  .header-logo {
    width: 350px;
    margin-right: 20px;
  }
  
  .header-text h1 {
    margin: 0;
    font-size: 24px; 
    color: #333333;  
  }
  
  .header-text h2 {
    margin: 0;
    font-size: 18px;  
    color: #666666; 
  }
  

  @media (max-width: 826px) {
    .header-content {
      gap: 30px
    }
  }
  
  @media (max-width: 765px) {
    .header-content {
      flex-direction: column; 
      gap: 20px;
    }
    .header-logo {
      margin-right: 0; 
      margin-bottom: 10px;  
    }
  }
  
  @media (max-width: 400px) {
    .header-content {
      flex-direction: column; 
      gap: 0px;
    }
    .header-logo {
      width: 300px;
    }
  }
  @media (max-width: 800px) {
  }